.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    width: 150px;
    height: 75px;
    border-radius:8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    filter: grayscale(1);
    @media(min-width:650px){
          display: none !important;
      }
    

    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.player-active {
    background-color: rgb(0, 195, 45);
    filter: unset !important;
}